@import 'base.css';

.btnFileLabel,
button {
    padding: 5px 10px;
    background: none;
    font-family: var(--font-family);
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    background-color: white;
}

.btnFileLabel:hover,
button:hover {
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(76, 5, 104);
}

textarea {
    height: 5em;
    overflow-y: auto;
    resize: none;

    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;

    margin: 5px;
}

textarea:focus {
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    outline: none;
    border-bottom-color: green;
}

input[type=file] {
    display: none;
}

input[type=url],
input[type=date],
input[type=email],
input[type=text] {
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;

    margin: 5px;
}

input[type=text]:focus {
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    outline: none;
    border-bottom-color: green;
}
